<%- include('header'); %>
<form class="ds-form">
  <div class="row">
    <% days.forEach((day) => {
      let endOfDay = new Date(day);
      endOfDay.setHours(23, 59, 59, 999);
      let event = events.find(event => event.startDate >= day && event.endDate <= endOfDay); %>
      <div class="col-12">
        <div class="_ds-form select" <%- event ? `data-api-id="${event.id}"` : '' %> id="<%= `${day.toLocaleDateString('fr', { year: 'numeric' })}-${day.toLocaleDateString('fr', { month: '2-digit' })}-${day.toLocaleDateString('fr', { day: '2-digit' })}` %>">
          <label for="<%= `${day.toLocaleDateString('fr', { year: 'numeric' })}-${day.toLocaleDateString('fr', { month: '2-digit' })}-${day.toLocaleDateString('fr', { day: '2-digit' })}` %>"><%= `${day.toLocaleDateString('fr', { weekday: 'long' })} ${day.toLocaleDateString('fr', { day: 'numeric' })} ${day.toLocaleDateString('fr', { month: 'long' })}` %></label>
          <button class="z-index-medium" data-name="<%= `${day.toLocaleDateString('fr', { year: 'numeric' })}-${day.toLocaleDateString('fr', { month: '2-digit' })}-${day.toLocaleDateString('fr', { day: '2-digit' })}` %>" type="button">
            <div class="_ds-link caption-icon">
              <i class="bi <%= event ? 'bi-calendar-fill' : 'bi-calendar4' %>"></i>
            </div>
            <div class="_ds-link body">
              <div class="_ds-link title">
                <% if (event) { %>
                  <%= event.description %>
                <% } else { %>
                  Sélectionner planning
                <% }; %>
              </div>
            </div>
            <div class="_ds-link action-icon">
              <i class="bi bi-chevron-down"></i>
            </div>
          </button>
          <ul class="z-index-medium">
            <li data-value="green-5">5 Vert</li>
            <li data-value="blue-7">7 Bleu</li>
            <li data-value="red-7">7 Rouge</li>
            <li data-value="red-f">F Rouge</li>
            <li data-value="butterfly">Papillon</li>
            <li data-value="5r">5R</li>
            <li data-value="rh">RH</li>
          </ul>
          <select name="<%= `${day.toLocaleDateString('fr', { year: 'numeric' })}-${day.toLocaleDateString('fr', { month: '2-digit' })}-${day.toLocaleDateString('fr', { day: '2-digit' })}` %>" type="select">
            <option value=""></option>
            <option value="green-5" <%= event && event.description == '5 Vert' ? 'selected' : '' %>>5 Vert</option>
            <option value="blue-7" <%= event && event.description == '7 Bleu' ? 'selected' : '' %>>7 Bleu</option>
            <option value="red-7" <%= event && event.description == '7 Rouge' ? 'selected' : '' %>>7 Rouge</option>
            <option value="red-f" <%= event && event.description == 'F Rouge' ? 'selected' : '' %>>F Rouge</option>
            <option value="butterfly" <%= event && event.description == 'Papillon' ? 'selected' : '' %>>Papillon</option>
            <option value="5r" <%= event && event.description == '5R' ? 'selected' : '' %>>5R</option>
            <option value="rh" <%= event && event.description == 'RH' ? 'selected' : '' %>>RH</option>
          </select>
        </div>
      </div>
    <% }); %>
  </div>
</form>
<% if (events.length) { %>
  <script>
    //document.scrollTop = document.getElementById("<%= `day-${nextDay.toLocaleDateString('fr', { year: 'numeric' })}-${nextDay.toLocaleDateString('fr', { month: '2-digit' })}-${nextDay.toLocaleDateString('fr', { day: '2-digit' })}` %>").offsetTop;
  </script>
<% } %>
<%- include('footer'); %>